<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart|网站制作</title>
  <link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
  <link rel="stylesheet" href="__CSS__manager.css"/>
  <script type="text/javascript" src="__JS__html5.js" ></script>

</head>
<body>
  <div class="divwhite"></div>
  <div class="divwhite"></div>
  <div class="divwhite"></div>
  <div class="divwhite"></div>
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="__IMG__404.png" class="img-center"></div>
    </div>
  </div>
  <div class="divwhite"></div>
  <div class="divwhite"></div>
  <div class="container"></div>
   <script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
     <script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>

</body>
</html>
