    .hrdivblack{
        min-height: 2px;
        background-color: #333333; 
        margin: 3px auto;
    }


    body{
		background-color: #32496A;
		font-size:12px;
		line-height:1;
    }

     .color-white{
        background-color: #FFFFFF;
      }

      .border-circle{
        border-radius:4px;
      }

      .content-main{
      	background-color: #FFFFFF;
      	min-height: 650px;
		min-width:1080px;
      	width:99%;
      	border-radius:4px;
      	margin-top: 10px;
      	margin-left: 5px;
      	margin-right:0px;
      	margin-bottom: 5px;
      }

      .table-margin{
      	margin-left: 5px;
      	margin-right: 15px;
      }

      .divwhite{
        min-height: 10px;
        margin: 5px auto;
      }
