<tr id="<{$sample.s_id}>">
	<td><img src="__ROOT__/<{$img_url}><{$sample['image'][0]['i_url']}>"/></td>
	<td><{$sample.s_models}></td>
	<td><{$sample.s_name}></td>
	<td><input name="orderdetail<{$sample.s_id}>[number]" type="text" class="form-control"/></td>
	<td><input name="orderdetail<{$sample.s_id}>[price]" type="text" class="form-control"/></td>
	<td><input name="orderdetail<{$sample.s_id}>[bunchnum]" type="text" class="form-control"</td>
	<td><input name="orderdetail<{$sample.s_id}>[sizes]" type="text" class="form-control"></td>
	<td>
		<button type="button" class="btn btn-primary" onclick="remove_sample(<{$sample.s_id}>)">删除</button>
		<input name="orderdetail<{$sample.s_id}>[s_id]" type="hidden" value="<{$sample.s_id}>"/>
		<input name="orderdetail<{$sample.s_id}>[s_models]" type="hidden" value="<{$sample.s_models}>"/>
	</td>
</tr>

