<!DOCTYPE html>
<html>
<head>
  <title></title>
 <link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
  <link rel="stylesheet" href="__CSS__manager.css"/>
  <script type="text/javascript" src="__JS__html5.js" ></script>
</head>
<body>

  <div class="container content-main">
    <!--导航线 start-->
    <div class="row">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li >
            <a href="#">我的面板</a>
          </li>
          <li >
            <a href="#">/</a>
          </li>
          <li>
            <a href="#">员工管理</a>
          </li>
          <li >
            <a href="#">/</a>
          </li>
          <li >
            <a href="#">添加员工</a>
          </li>
        </ul>
      </div>
    </div>
	<div class="row">
		<div class="btn-toolbar" role="toolbar">
			<a class="btn btn-primary" href="__CONTROLLER__/userlist">员工列表</a>
			<a class="btn btn-primary" href="__CONTROLLER__/usertype">员工种类</a>
			<a class="btn btn-primary" href="javascript:window.history.back();">返回</a>
		</div>
	</div>

    <div class="hrdivblack"></div>
    <!--导航线 end-->

    <form action="__MODULE__/User/addusersingle" method="post">
      <!--左边 start-->
      <div class="col-md-6">
          <div class="form-horizontal" >

             <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工姓名</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                   ：
                  </span>
                  <label  class="form-control" id="1" >
                  <input   id="m_name" style="border:0px;width:200px" type="text" name="m_name" >
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end-->
            <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工性别</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1" >
                    <input   id="m_gender" style="border:0px;width:200px" type="text" name="m_gender" >
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end--   
            
              <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工薪酬</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1" >
                    <input  id="m_price" style="border:0px;width:200px" type="text" name="m_price" >
                  </label>
                  </p>
              </div>
            </div>
            
            <!--一行结束  end-->     
              <!--一行开始 start-->
            <div class="form-group ">
              <label for="1" class="col-sm-4 control-label">工种类型</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <select class="form-control" name="mk_id">
                   <%volist name="casetype" id="vo"%>
                    <option  value="<{$vo.mk_id}>"><{$vo.mk_name}></option>
                  <%/volist%>
                  </select>
                  </p>
              </div>
            </div>
           
            <!--一行结束  end-->     
          
          
          </div>
      </div>
      <!--左边 end-->


      <!--右边 start-->
       <div class="col-md-6">
          <div class="form-horizontal" >
               <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工电话</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1"  >
                    <input  id="m_phone" style="border:0px;width:200px"  type="text" name="m_phone" >
                  </label>
                  </p>
              </div>
            </div>
            
            <!--一行结束  end-->       
            <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">身份证号</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1" >
                  <input  id="m_idcard" style="border:0px;width:200px" type="text" name="m_idcard" >
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end-->
             <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工地址</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1" >
                   <input  id="m_address" style="border:0px;width:200px" type="text" name="m_address" >
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end-->
              <!--一行开始 start-->
            <div class="form-group">
              <label for="1" class="col-sm-4 control-label">员工备注</label>
              <div class="col-md-8">
                <p class="input-group">
                  <span class="input-group-addon">
                    ：
                  </span>
                  <label  class="form-control" id="1" >
                 <input  id="m_remark" style="border:0px;width:200px" type="text" name="m_remark" >
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end-->
               <!--一行开始 start-->
            <div class="form-group">
             <label for="1" class="col-sm-4 control-label"></label>
              <div class="col-md-8">
                <p class="input-group pull-right">
                  <!--<span class="input-group-addon">
                  </span> -->
                  <label  id="1" >
                    
                    <input type="submit" value="确定添加" class="btn btn-primary">
                  </label>
                  </p>
              </div>
            </div>
            <!--一行结束  end-->
          </div>
      </div>
      <!--右边 end-->

</form>

  </div>
  <script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>
</body>
</html>
