<!DOCTYPE html>
<html>
<head>
  <title></title>
   <link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
  <link rel="stylesheet" href="__CSS__manager.css"/>
  <script type="text/javascript" src="__JS__html5.js" ></script>

</head>
<body>

  <div class="container content-main">
    <!--导航线 start-->
    <div class="row">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li >
            <a href="#">员工管理</a>
          </li>
          <li >
            <a href="#">/</a>
          </li>
          <li>
            <a href="#">员工列表</a>
          </li>
         
        </ul>
         <div class="pull-right">
          <form class="navbar-form navbar-left" role="search" method="post" action="__MODULE__/User/finduser">
            <div class="form-group">
              <input type="text" id="m_name" name="m_name" class="form-control" placeholder="员工姓名"></div>
              
            <button type="submit" class="btn btn-primary">查询</button>
          </form>
        </div>
      </div>
    </div>
	<div class="row">
		<div class="btn-toolbar" role="toolbar">
			<a class="btn btn-primary" href="__CONTROLLER__/usertype">员工种类</a>
			<a class="btn btn-primary" href="__CONTROLLER__/adduserdetail">新建员工</a>
			<a class="btn btn-primary" href="javascript:window.history.back();">返回</a>
		</div>
	</div>

    <div class="hrdivblack"></div>
    <!--导航线 end-->
    <div class="row ">
    <!--form开始-->
    <form name="form" method="post" id="form" action=" ">
      <table class="table table-bordered table-hover " id="table1">
        <thead>
          <tr>
            <th width="10px"></th>
            <th>员工编号</th>
            <th>员工姓名</th>
            <th>员工性别</th>
            <th>员工薪资</th>
            <th>联系方式</th>
            <th>身份证号</th>
            <th colspan="3">操作</th>

          </tr>
        </thead>
        <tbody>

         <%volist name="list" id="vo" key="k"%>

                  <tr>
                    <td><input type="checkbox" name="checkAll[]" id="checkAll[]" value="<?=$vo['m_id']?>" onclick="setSelectAll();"/></td>
                    <td><?=$vo['m_id']?></td>
                    <td><?=$vo['m_name']?></td>
                    <td><?=$vo['m_gender']?></td>
                    <td><?=$vo['m_price']?></td>
                    <td><?=$vo['m_phone']?></td>
                    <td><?=$vo['m_idcard']?></td>
                    <td><a class="button" href="__MODULE__/User/userdetail?uid=<?=$vo['m_id']?>">查看详情</a></td><td><a href="__MODULE__/User/userdelete?uid=<?=$vo['m_id']?>">删除此员工</a></td>
                    <td><a href="__MODULE__/User/useredit?uid=<?=$vo['m_id']?>">修改员工信息</a></td>
                  </tr>
         <%/volist%>
         <!--  <tr><td colspan="9"><input type="checkbox" id="selAll" onclick="selectAll();" />全选/反选&nbsp;&nbsp;<a href="#">/</a>&nbsp;&nbsp;
                 <button type="submit"  onclick="delMuti()" >删除</button>
                <?=$show?></td></tr>  -->
          <tr>
            <td colspan="8"><?=$show?></td>
          </tr>
      
        </tbody>
      </table>
      <!--form结束-->
    </form>
    </div>
  </div>


  <script type="text/javascript" src="<{$Think.const.JS_URL}>jquery-1.11.0.js"></script>
  <script type="text/javascript" src="<{$Think.const.JS_URL}>bootstrap.js" ></script>
</body>

<script language="javascript">

//选中全选按钮，下面的checkbox全部选中
var selAll = document.getElementById("selAll");
function selectAll()
{
  var obj = document.getElementsByName("checkAll[]");
  if(document.getElementById("selAll").checked == false)
  {
  for(var i=0; i<obj.length; i++)
  {
    obj[i].checked=false;
  }
  }else
  {
  for(var i=0; i<obj.length; i++)
  {  
    obj[i].checked=true;
  }
  }
 
}

//当选中所有的时候，全选按钮会勾上
function setSelectAll()
{
  var obj=document.getElementsByName("checkAll[]");
  var count = obj.length;
  var selectCount = 0;

for(var i = 0; i < count; i++)
{
if(obj[i].checked == true)
{
  selectCount++;
}
}
if(count == selectCount)
{
  document.all.selAll.checked = true;
}
else
{
  document.all.selAll.checked = false;
}
}
</script>

<script type="text/javascript">
     function delMuti(){
    if(window.confirm("确认要批量删除吗?")){
    document.form.submit(); //表单提交的一种js方法 ,其中form是表单的
      }
    }
  </script>
</html>
