<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
<link rel="stylesheet" href="__CSS__manager.css"/>
<script type="text/javascript" src="__JS__html5.js" ></script>
</head>
<body>
<div class="container content-main">
	<!--导航线 start-->
	<div class="row">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li >
				<a href="#">系统菜单</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li>
				<a href="#">订单管理</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li >
				<a href="#">新建订单</a>
				</li>
			</ul>
		</div>
	</div>
	<form name="addform" method="post" action="__CONTROLLER__/addOrders/"/>
		<div class="container">
			<div class="row" >
				<table class=" table table-bordered table-condensed" >
					<tr>
						<td>工厂订单号：</td>
						<td><input name="display_id" class="form-control" type="text" /></td>
						<td>客人订单号：</td>
						<td><input name="oc_id" type="text" class="form-control" /></td>
						<td>订单客户：</td>
						<td><input name="customer" type="text" class="form-control" /></td>
					</tr>

					<tr>
						<td>订单双数：</td>
						<td><input name="number" type="text" class="form-control" /></td>
						<td>订单总价：</td>
						<td><input name="totalprice" type="text" class="form-control" /> </td>
						<td>订单备注：</td>
						<td>
							<textarea name="remark" class="form-control" ></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<table  class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>样品图片</th>
							<th>样品型号</th>
							<th>样品名</th>
							<th>样品双数</th>
							<th>样品单价</th>
							<th>样品装数</th>
							<th>样品样品码段</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody id="select_sample">

					</tbody>
				</table>
			</div>
			<div class="row" >
				<div class="col-md-2 col-md-offset-10" >
					<button type="submit" class="btn btn-primary" >添加订单 </button>
				</div>
			</div>
		</div>
	</form>
	<div class="hrdivblack"></div>
	<div class="container">
		<div class="row" id="sample-div">
		</div>
		<div class="row" >
			<div class="col-md-5 col-md-offset-4">
				<ul id="pagination" class="pagination">
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>
<script type="text/javascript" src="__STATIC__js/ajaxhelper.js"></script>
<script type="text/javascript" src="__STATIC__js/jshelper.js"></script>
<script type="text/javascript" src="__STATIC__js/jquery.paging.js"></script>
<script type="text/javascript" >
$(function(){

		$("#pagination").paging(<{$sample_count}>, {
format: '[< nncnn >]',
onSelect: function (page) {
var post_data={page: page};
ajaxhelper.post(post_data,"__MODULE__/Sample/ajaxSampleList/",paging_callback);		
},
onFormat: function (type) {
switch (type) {
case 'block': // n and c
if(!this.active)
return '<li><a>' + this.value + '</a></li>';
else if(this.value != this.page)
return '<li><a>' + this.value + '</a></li>';
return "<li class='active'><a>" + this.value + "</a></li>";

case 'next': // >
if(this.active)
return '<li class="active"><a>&raquo;</a></li>';
return '<li ><a>&raquo;</a></li>';
case 'prev': // <
if(this.active)
	return '<li class="active"><a>&laquo;</a></li>';
return '<li><a>&laquo;</a></li>';
case 'first': // [
if(this.active)
	return '<li class="active"><a>first</a></li>';
return '<li ><a>first</a></li>';
case 'last': // ]
if(this.active)
	return '<li class="active"><a>last</a></li>';
return '<li ><a>last</a></li>';

}
}
});

})

function paging_callback(data){
	var flag=data.flag;
	if(flag==true){
		$("#sample-div").empty();
		var content=data.message;
		console.log(content);
		$("#sample-div").append(content);
	}else{
		jshelper.show_message(data.message);
	}
}

function into_orders(id){

	if(id.length<0){
		jshelper.show_message("请选择要添加的样品！！");
		return false;
	}else{
		var post_data={s_id: id};
		ajaxhelper.post(post_data,"__MODULE__/Sample/ajaxGetOneSample/",into_orders_callback);
	}
}

function into_orders_callback(data){
	console.log(data);
	var flag=data.flag;
	if(flag==true){
		var content=data.message;
		var id=data.id;
		var has=$("tr[id="+id+"]");
		if(has.length>0){
			return false;
		}else{
			$("#select_sample").append(content);
			return false;
		}
	}else{
		jshelper.show_message(data.message);
		return false;
	}

}

function remove_sample(id){
	$("#"+id).remove();
}



</script>
</body>	
</html>
