<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
<link rel="stylesheet" href="__CSS__manager.css"/>
<script type="text/javascript" src="__JS__html5.js" ></script>
</head>
<body>

<div class="container content-main">
	<!--导航线 start-->
	<div class="row">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li >
				<a href="#">系统菜单</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li>
				<a href="#">订单管理</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li>
				<a href="#"><{$title_name}></a>
				</li>
			</ul>
			<div class="pull-right">
				<form class="navbar-form navbar-left" role="search" method="post" action="__CONTROLLER__/searchOrders/">
					<div class="form-group">
						<input type="text" class="form-control" name="search_str" placeholder="请输入要查询的订单编号">
					</div>
					<select class="form-control"  name="search_type">
						<option value="o_displayid">订单编号</option>
						<option value="o_customer">下单客户</option>
					</select>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="btn-toolbar" role="toolbar">
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/orders_pre">预产订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/orders_produce">投产订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/all">所有订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/null">作废订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/orders_ok">待发货订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/index/type/orders_send">已发货订单</a>
				<a class="btn btn-primary" href="__CONTROLLER__/addOrdersUi">新建订单</a>
				<a class="btn btn-primary" href="javascript:window.history.back();">返回</a>
			</div>
	</div>

	<div class="hrdivblack"></div>
	<!--导航线 end-->
	<div class="row ">
		<table border="1" cellpadding="0" cellspacing="0" align="center" width="100%">


			<%foreach name="datalist" item="one" key="key"%>
			<tr>
				<td>
					<table  class="table table-condensed">
						<%if condition="$key eq 0"%>
						<tr>
							<td> 订单编号</td>
							<td> 订单客户</td>
							<td> 订单双数</td>
							<td> 订单金额</td>
							<td> 订单状态</td>
						</tr>
						<%/if%>
						<tr>
							<td><{$one.o_displayid}></td>
							<td><{$one.o_customer}></td>
							<td><{$one.o_number}></td>
							<td><{$one.o_totalprice}></td>
							<td><{$one.orderstatus.os_name}></td>
						</tr>
					</table>
				</td>



				<td>
					<table border="1" cellspacing="0" cellpadding="0" width="100%">
						<%if condition="$key eq 0"%>
						<tr>
							<td>样品图片</td>
							<td>订单型号</td>
							<td>订单尺码</td>
							<td>订单单价</td>
							<td>订单双数</td>
							<td>订单装数</td>
						</tr>
						<%/if%>
						<%foreach name="one['ordersdetail']" item="one_one" key="key_key"%>
						<tr>
							<td width="73px"><img src="__ROOT__/<{$img_url}><{$one_one.imgurl}>" style="width:150px;height:80px;"></td>
							<td width="73px"><{$one_one.s_models}></td>
							<td width="73px"><{$one_one.od_sizes}></td>
							<td width="73px"><{$one_one.od_price}></td>
							<td width="73px"><{$one_one.od_number}></td>
							<td width="73px"><{$one_one.od_bunchnum}></td>
						</tr>

						<%/foreach%>
					</table>
				</td>
				<td>
					<table class="table table-condensed">
						<%if condition="$key eq 0"%>
						<tr>
							<td>查看详情</td>
							<td>修改订单</td>
							<td>删除</td>
							<td>投产</td>
						</tr>
						<%/if%>
						<tr>
							<td><a href="__CONTROLLER__/ordersDetail/id/<{$one.o_id}>">查看</a></td>
							<%if condition="$one['o_isproduce'] eq 0"%>
							<td><a href="__CONTROLLER__/updateOrdersUi/id/<{$one.o_id}>">修改</a></td>
							<%else/%>
							<td>	已投产</td>
							<%/if%>
							<%if condition="$one['o_isproduce'] eq 0"%>
							<td><a  onclick="if(confirm('确定删除?')==false)return false;" href="__CONTROLLER__/deleteOrders/id/<{$one.o_id}>" >删除</a></td>
							<%else/%>
								<td>无法删除</td>
							<%/if%>
							<%if condition="$one['orderstatus']['os_name'] eq $orderstatus['ORDERS_PRE']"%>
							<td><a href="__CONTROLLER__/produceOrders/o_id/<{$one.o_id}>">投产</a></td>
							<%else/%>
								<td>	已投产</td>
							<%/if%>
						</tr>

					</table>
				</td>
			</tr>
			<%/foreach%>
		</table>


	</div>
	<div class="pull-right">
		<form method="post" class="navbar-form navbar-left" role="search" name="excelform" action="__CONTROLLER__/excelOrders/">
			<select class="form-control" id="select_time" name="select_time">
				<option value="month">本月</option>
				<option value="prevmonth">上月</option>
				<option value="prev3month">前三月</option>
				<option value="halfyear">半年</option>
				<option value="oneyear">本年</option>
				<option value="prevyear">上一年</option>
				<option value="all">全部</option>
			</select>
			<button type="button" class="btn btn-primary" id="downloadbtn" >下载数据</button>
		</form>
	</div>
	<!--分页 start-->
	<div class="row">
		<div class="col-md-offset-3">
			<{$page}>
		</div>

	</div>
	<!--分页 end-->
</div>
<script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>
<script type="text/javascript" src="__STATIC__js/ajaxhelper.js"></script>
<script type="text/javascript" src="__STATIC__js/jshelper.js"></script>
<script type="text/javascript">
$(function(){
		//鞋底
		$("#downloadbtn").click(function(){
			var types="<{$title_name}>";
			var select_time=$("#select_time").val();
			if(select_time.length>0){
			var post_data={select_time : select_time, types : types };
			ajaxhelper.post(post_data,"__CONTROLLER__/excelOrders/",download_callback);
			}else{
			jshelper.show_message("请选择要下载的订单!");
			return;
			}
			})

		})
function download_callback(data){
	var flag=data.flag;
	if(flag==true){
		var filename=data.message;
		window.location.href="__CONTROLLER__/downloadFile/filename/"+filename;
	}

}

</script>
</body>
</html>
