<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
<link rel="stylesheet" href="__CSS__manager.css"/>
<script type="text/javascript" src="__JS__html5.js" ></script>
</head>
<body>
<div class="container content-main">
	<!--导航线 start-->
	<div class="row">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li >
				<a href="#">系统菜单</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li>
				<a href="#">样品管理</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li >
				<a href="#">样品详细</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="hrdivblack"></div>
	<!--导航线 end-->




	<!--==========================================样品基本属性start===============================================-->

	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品名称：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" name="name" value="<{$sample.s_name}>" type="text" placeholder="请输入样品名称" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品型号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_models}>" name="models" type="text" placeholder="请输入样品型号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>

	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品材料：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" name="material" value="<{$sample.s_material}>" type="text" placeholder="请输入样品材料" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品码段：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_sizes}>" name="sizes" type="text" placeholder="请输入样品码段" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>

	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品价格：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" name="price" type="text" value="<{$sample.s_price}>" placeholder="请输入样品单价" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品颜色：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_color}>" name="color" type="text" placeholder="请输入样品颜色" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>







	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">样品楦型：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" name="mould" type="text" value="<{$sample.s_mould}>" placeholder="请输入样品楦型" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
	</div>


	<!--==========================================样品基本属性end===============================================-->


	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">鞋底:</span></h3>
		</div>

	</div>

	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋底型号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.sole.models}>" name="sole[models]" type="text" placeholder="请输入鞋底型号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋底材料</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.sole.material}>" name="sole[material]" type="text" placeholder="请输入鞋底材料" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>






	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋底重量：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.sole.wight}>" name="sole[wight]" type="text" placeholder="请输入鞋底重量" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋底颜色</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly"  value="<{$sample.s_attribute.sole.color}>" name="sole[color]" type="text" placeholder="请输入鞋底颜色" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>



	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋底厂家：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly"  value="<{$sample.s_attribute.sole.firm}>" name="sole[firm]" type="text" placeholder="请输入鞋底厂家" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
	</div>



	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">鞋包:</span></h3>
		</div>

	</div>





	<div class="row ">
<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋包货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly"  value="<{$sample.s_attribute.shoesbag.models}>" name="shoesbag[models]" type="text" placeholder="请输入鞋包货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->

		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋包材料：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly"  value="<{$sample.s_attribute.shoesbag.material}>" name="shoesbag[material]" type="text" placeholder="请输入鞋包材料" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋包颜色：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.shoesbag.color}>" name="shoesbag[color]" type="text" placeholder="请输入鞋包颜色" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>



	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">中底:</span></h3>
		</div>

	</div>





	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">中底货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" name="insole[models]" value="<{$sample.s_attribute.insole.models}>" type="text" placeholder="请输入中底货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">中底厂家</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.insole.firm}>"name="insole[firm]" type="text" placeholder="请输入中底厂家" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>




	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">中底颜色：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.insole.color}>" name="insole[color]" type="text" placeholder="请输入中底颜色" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
	</div>











	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">内盒:</span></h3>
		</div>

	</div>





	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">内盒货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.innerbox.models}>" name="innerbox[models]" type="text" placeholder="请输入内盒货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">内盒供应商：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.innerbox.firm}>" name="innerbox[firm]" type="text" placeholder="请输入内盒供应商" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>




	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">内盒规格：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.innerbox.format}>" name="innerbox[format]" type="text" placeholder="请输入内盒规格" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">内盒货名：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.innerbox.name}>" name="innerbox[name]" type="text" placeholder="请输入内盒货名" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>

	</div>

	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">外箱:</span></h3>
		</div>

	</div>


	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">外箱货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.outerbox.models}>" name="outerbox[models]" type="text" placeholder="请输入外箱货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">外箱供应商：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.outerbox.firm}>"name="outerbox[firm]" type="text" placeholder="请输入外箱供应商" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>




	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">外箱规格：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.outerbox.format}>" name="outerbox[format]" type="text" placeholder="请输入外箱规格" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">外箱货名：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.outerbox.name}>"name="outerbox[name]" type="text" placeholder="请输入外箱货名" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>

	</div>



	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">外箱商标：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.outerbox.logo}>" name="outerbox[logo]" type="text" placeholder="请输入外箱商标" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
	</div>



	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-3 col-md-offset-1">
			<h3>	<span class="label label-primary">其他小件:</span></h3>
		</div>

	</div>





	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">皮塑货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.pisu}>" name="other[pisu]" type="text" placeholder="请输入皮塑货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<!--右边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">扣件货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.koujian}>" name="other[koujian]" type="text" placeholder="请输入扣件货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--右边 end-->
	</div>




	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋眼货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.xieyan}>" name="other[xieyan]" type="text" placeholder="请输入鞋眼货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">帽钉货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.maoding}>" name="other[maoding]" type="text" placeholder="请输入帽钉货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>

	</div>



	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">松紧条货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.songjintiao}>" name="other[songjintiao]" type="text" placeholder="请输入松紧条" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">拉链货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.lalian}>" name="other[lalian]" type="text" placeholder="请输入拉链货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
	</div>





	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">双面胶货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.shuangmianjiao}>"  name="other[shuangmianjiao]" type="text" placeholder="请输入双面胶货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">鞋带货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.xiedai}>" name="other[xiedai]" type="text" placeholder="请输入鞋带货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
	</div>



	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">处理剂货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.chuliji}>" name="other[chuliji]" type="text" placeholder="请输入处理剂货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">内里货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.neili}>" name="other[neili]" type="text" placeholder="请输入内里货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
	</div>




	<div class="row ">
		<!--左边 start-->
		<div class="col-md-6">
			<div class="form-horizontal" >
				<!--一行开始 start-->
				<div class="form-group">
					<label for="1" class="col-sm-4 control-label">垫脚货号：</label>
					<div class="col-md-8">
						<p class="input-group">
						<span class="input-group-addon">
							：
						</span>
						<input class="form-control" readonly="readonly" value="<{$sample.s_attribute.other.dianjiao}>" name="other[dianjiao]" type="text" placeholder="请输入垫脚货号" /> 
						</p>
					</div>
				</div>
				<!--一行结束  end-->
			</div>
		</div>
		<!--左边 end-->
	</div>







	<div class="hrdivblack"></div>

	<div class="row" >
		<div class="col-md-6 col-md-offset-1">
			<h3>	<span class="label label-primary">样品模型:</span>
			</h3>
		</div>

	</div>

	<div class="row">
		<div class="comtainer col-md-offset-1" id="imgview">
			<!--图片展示区-->
			<%foreach name="sample.image" item="image_one"%>
			<div class="col-md-4">
				<img src="__ROOT__<{$upload_img}><{$image_one.i_url}>" style="width:250px;height:180px;"/>
			</div>
			<%/foreach%>
		</div>
	</div>
	<div class="hrdivblack"></div>


</div>
<script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>
</body>
</html>
