<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="__STATIC__css/bootstrap.css"/>
<link rel="stylesheet" href="__CSS__manager.css"/>
<script type="text/javascript" src="__JS__html5.js" ></script>
</head>
<body>
<div class="container content-main">
	<!--导航线 start-->
	<div class="row">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li >
				<a href="#">系统菜单</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li>
				<a href="#">样品管理</a>
				</li>
				<li >
				<a href="#">/</a>
				</li>
				<li >
				<a href="#">样品详情</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="hrdivblack"></div>
	<!--导航线 end-->




	<!--==========================================样品基本属性start===============================================-->

	<div class="row ">
		<table class="table table-condensed table-bordered">
			<tr>
				<td>样品型号：</td>
				<td><{$sample.s_models}></td>
				<td>样品名：</td>
				<td><{$sample.s_name}></td>
				<td>样品面料：</td>
				<td><{$sample.s_material}></td>
				<td>样品楦型：</td>
				<td><{$sample.s_mould}></td>
			</tr>
			<tr>
				<td>样品内里：</td>
				<td><{$sample.s_neili}></td>
				<td>样品大底：</td>
				<td><{$sample.s_dadi}></td>
				<td>样品车线：</td>
				<td><{$sample.s_chexian}></td>
				<td>样品价格：</td>
				<td><{$sample.s_price}></td>
			</tr>
			<tr>
				<td>样品尺码：</td>
				<td><{$sample.s_sizes}></td>
				<td>样品备注：</td>
				<td><{$sample.s_remark}></td>
				<td>样品投产：</td>
				<td>
					<%if condition="$sample.s_siproduce eq 1"%>
						已经投产
					<%else/%>
						未投产
					<%/if%>
				</td>
				<td>样品下架：</td>
				<td>
				
					<%if condition="$sample.s_soldout eq 1"%>
						已下架
					<%else/%>
						未下架
					<%/if%>
				</td>
			</tr>
		</table>
	</div>


	<div class="row">
		<div class="comtainer col-md-offset-1" id="imgview">
			<!--图片展示区-->
			<%foreach name="sample.image" item="image_one"%>
			<div class="col-md-3">
				<img src="__ROOT__<{$upload_img}><{$image_one.i_url}>" style="width:150px;height:80px;"/>
			</div>
			<%/foreach%>
		</div>
	</div>

	<div class="row">
		<h4 class="text-center"> </h4>

	</div>

</div>
<script type="text/javascript" src="__STATIC__js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__STATIC__js/bootstrap.js" ></script>
</body>
</html>
